li.editable {
  align-items: center;
  display: flex;
}

li.editable .text {
  flex: 1 1 auto;
  margin: 0 0.5rem;
}

li.editable .delete-button {
  --fa-primary-color: var(--del-color);
  --fa-secondary-color: var(--contrast);
  cursor: pointer;
  font-size: 2rem;
  margin: 0 0.5rem;
}

li.editable .input {
  margin: 0;
}
