label for="title" Title:
input name="title" type="text"
br

label for="question" Question:
input name="question" type="text"
br

label for="choices" Choices:
textarea name="choices"
br

label for="responders" Responders:
textarea name="responders"
br

label for="expiration" Expiration:
input name="expiration" type="text"
br

label for="type" Type:
select name="type"
  option value='borda_single' Borda Single
  option value='borda_split' Borda Split
br

input value="Submit" type="submit"
