label for="title" Title:
input name="title" type="text"
br

label for="choices" Choices:
textarea name="choices"
br

label for="responders" Responders:
textarea name="responders"
br

label for="expiration" Expiration:
input name="expiration" type="text"
br

input value="Submit" type="submit"
