- require 'duration'
- require 'tzinfo'

- expiration = Time.at(poll.expiration, in: TZInfo::Timezone.get('US/Pacific'))
- remaining = Duration.new(expiration - Time.now)
p
  | This poll ends on #{expiration.strftime('%b %d %Y, at %I:%M %p %Z')}.
  |  (#{remaining.format(precision: Duration::MINUTES)} from now).
