<% content_for :header do %>
  <title>Create Poll</title>
  <%= stylesheet_link_tag('/create_poll.css') %>
<% end %>

<form action="/admin/create_poll" method="post">
  <label for="poll_name">Poll Name:</label>
  <input type="text" id="title" name="title" /><br />

  <label for="choices">Choices:</label>
  <textarea id="choices" name="choices" ></textarea>

  <label for="responders">Responders:</label>
  <textarea id="responders" name="responders" ></textarea>

  <input type="submit" value="Submit" />
</form>
