= content_for :head
  title Need Email
  ==stylesheet_link_tag :base

= content_for :banner
  | Small Democracy

h2 Need Email

p Please login first.

a href=Tony::Auth::Google.url(req, r: req.path) Sign in with Google
br
a href=Tony::Auth::Github.url(req, r: req.path) Sign in with Github
br
a href=Tony::Auth::Facebook.url(req, r: req.path) Sign in with Facebook
