doctype html
html lang="en"
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width, initial-scale=0.8"
    ==google_fonts "Fira Sans"
    ==font_awesome '9c18181028'
    ==favicon_link_tag
    ==stylesheet_link_tag :main
    ==yield_content :head
    javascript:
      document.fonts.load('1rem "Fira Sans"').then(() => {
        document.documentElement.classList.add('google-fonts-loaded');
      });
      const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.cookie = "tz="+tz+"; expires=31536000; path=/";


  body
    ==yield
