= content_for :head
  title Not Found

h1 Not Found

p Sorry, this url doesn't seem to be valid.

p If this has occurred because of a bug, please <a href="https://github.com/jubishop/smalldemocracy/issues">report</a> this issue.  Thanks a lot!
