<% content_for :header do %>
  <title><%= poll.title %></title>
  <%= stylesheet_link_tag('/poll.css') %>
<% end %>

<%= poll.title %>

<ul>
  <% poll.choices.each { |choice| %>
    <li><%= choice.text %>
  <% } %>
</ul>
