body {
  background-color: black;
  color: white;
}

div.images {
  border: 1px solid pink;
  display: flex;
  margin: 1em;
  padding: 1em;
}

div.images img {
  display: block;
  border: 1px solid skyblue;
  width: 480px;
}

div.images .golden, div.images .new {
  margin: 0 0.5em;
}

button.reject, button.accept {
  margin: 1em 0 0 1em;
}
