@use "../layout";

ul#member-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul#member-list li {
  list-style-type: none;
  border: 1px solid var(--form-element-border-color);
  border-radius: 0.2rem;
  padding: 0.4rem;
}
