@use "view";

#group-name {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

#group-name h2 {
  margin: 0;
}

.edit-group-icon {
  --fa-primary-color: var(--ins-color);
  --fa-secondary-color: var(--contrast);
  cursor: pointer;
}

#creator-trash-can, #creator-trash-can .delete-icon {
  border-bottom: none;
  cursor: not-allowed;
}

li.editable {
  align-items: center;
  display: flex;
}

li.editable .text {
  flex: 1 1 auto;
  margin: 0 0.5rem;
}

li.editable .delete-icon {
  --fa-primary-color: var(--del-color);
  --fa-secondary-color: var(--contrast);
  cursor: pointer;
  margin: 0 0.5rem;
}

li.editable .input {
  margin: 0;
}
