@use "view";

@use "../editable";

#group-name {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

#group-name h2 {
  margin: 0;
}

.edit-group-icon {
  --fa-primary-color: var(--ins-color);
  --fa-secondary-color: var(--contrast);
  cursor: pointer;
}

#creator-trash-can, #creator-trash-can .delete-icon {
  border-bottom: none;
  cursor: not-allowed;
}
