ul#choices, ul#bottom-choices {
  padding: 0;
}

ul#bottom-choices {
  background-color: var(--del-color);
  min-height: 4rem;
  padding: 1rem 0;
}

li.choice {
  align-items: center;
  border: solid transparent 2px;
  cursor: grab;
  display: flex;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

li.choice .grip {
  font-size: 3rem;
  margin: 0 1rem;
}

li.choice .text {
  flex: 1 1 auto;
  margin: 0;
}

li.choice .score {
  color: var(--primary);
  flex: 0 0 auto;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 0.5rem;
  position: relative;
  top: 0.5rem;
}

li.choice:hover {
  border: solid var(--range-border-color) 2px;
}

li.choice:active, .sortable-ghost {
  background-color: var(--range-active-border-color);
}
