@use "../layout";

@use "../editable_list";

#poll-title, #poll-question {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#poll-title h2, #poll-question h4 {
  margin: 0;
}

#immutable-title {
  border-bottom: none;
  cursor: not-allowed;
}
#edit-title-button {
  cursor: pointer;
}

.edit-title-icon {
  --fa-primary-color: var(--ins-color);
  --fa-secondary-color: var(--contrast);
}
